@import "tailwindcss";

:root {
  --background: #D4D4D8; /* Tailwind Zinc-300 */
  --primary: #52525b;    /* Tailwind Zinc-600 */
  --secondary: #27272a;  /* Tailwind Zinc-800 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b; /* Tailwind Zinc-900 */
    --primary: #D4D4D8;    /* Tailwind Zinc-300 */
    --secondary: #FAFAFA;  /* Tailwind Zinc-50 */
  }
}

body {
  background: var(--background);
  font-family: 'Space Grotesk Variable', sans-serif;  
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}