@import "tailwindcss";

:root {
  --background: #D4D4D8; /* Tailwind Zinc-300 */
  --primary: #52525b;    /* Tailwind Zinc-600 */
  --secondary: #27272a;  /* Tailwind Zinc-800 */
}

body {
  background: var(--background);
  font-family: 'Space Grotesk Variable', sans-serif;  
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}